@font-face {
  font-family: "Inconsolata";
  src: url("./fonts/Inconsolata-Light.ttf") format("woff");
}

:root {
  --font-family: "Inconsolata", monospace, serif;
  --input-height: 18px;
  --main-color: #6600cc;
}

body {
  font-family: var(--font-family);
  padding-left: 1rem;
  width: 21rem;
}

button {
  background-color: #fff;
  border: 1.25px solid var(--main-color);
  color: var(--main-color);
  font-family: var(--font-family);
  height: 2rem;
  margin: 0 auto;
  width: 50%;
  transition: all 0.15s ease;
}

button:active,
button:focus,
button:hover {
  cursor: pointer;
  font-weight: bold;
  outline: 1.5px solid var(--main-color);
}

.button {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

div {
  align-items: center;
  display: flex;
  height: 20px;
  margin-bottom: 8px;
  position: relative;
}

legend {
  font-size: 1rem;
  padding: 0.5rem 0;
}

label {
  font-size: 0.9rem;
  cursor: pointer;
  padding-left: 1.75rem;
}

/* hide input for a11y */
input {
  height: var(--input-height);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: var(--input-height);
}

input:focus + label {
  font-weight: bold;
}

input:focus + label::before {
  outline: 1.5px solid var(--main-color);
}

input + label::before {
  border: 1.5px solid var(--main-color);
  content: '';
  height: var(--input-height);
  width: var(--input-height);
  left: 0;
  top: 0;
  position: absolute;
}

input + label::after {
  content: '';
  border: 1.5px solid var(--main-color);
  border-left: 0;
  border-top: 0;
  height: 10px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 3px;
  transform: rotate(45deg);
  width: 4px;
}

input:checked + label::after {
  opacity: 1;
}